DEBUG=True
SECRET_KEY='django-insecure-0$r46jk(t9v8y$)vaylawogxxnmint5b&7#3cjk6z=(qs&^yt_'
ALLOWED_HOSTS=*,127.0.0.1

# database setup
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=